.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-size);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);

  svg {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
  }

  &__disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  // variants
  &__primary {
    color: var(--text-color-primary);
    background-color: var(--bg-color-utils-primary);
    outline: 1px solid transparent;
    &:hover {
      outline-color: var(--text-color-secondary);
    }
  }
  &__secondary {
    color: var(--text-color-inversive);
    background-color: var(--bg-color-utils-secondary);
    &:hover {
      color: var(--text-color-primary);
      background-color: var(--bg-color-utils-primary);
    }
  }
  &__danger {
    background-color: var(--bg-color-accent);
    color: var(--text-color-inversive);
    &:hover {
      transform: scale(1.03);
    }
  }

  //sizes
  &__xs {
    height: 28px;
    padding: 9px 11px;
  }
  &__sm {
    height: 28px;
    padding: 4px 16px;
  }

  //position
  &__left {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  &__center {
    border-radius: 0;
  }
  &__right {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}
