.sideBar {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  padding-bottom: 0;
  overflow: hidden;

  &__header {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: var(--gap-size);
    flex-shrink: 0;
  }

  &__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-2xl);
    color: var(--text-color-inversive);
    text-transform: capitalize;
    display: flex;
    align-items: baseline;
    gap: var(--spacing-sm);
  }

  &__title__year {
    font-weight: var(--font-weight-regular);
    color: var(--text-color-accent);
  }

  &__btns {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-self: end;
  }
}

.flipped {
  transform: rotate(180deg);
}
